@import "colors";

nav{
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height:7vh ;

    > h2{
        text-decoration: none;
        color: $primary;
        
    }

    > div{
        color: $tertiary;
        text-decoration: none;
        display: flex;
        justify-content: center;
        gap: 5rem;
        font-size: 1.2rem;
        font-family: "Roboto";
        font-weight: 700;
        align-items: center;

        > a{
            color: $primary; 
            transition: all 0.3s;

            &:hover{
                opacity: 0.7;
            }


            > p{
                position: absolute;
                top: 0.5rem;
                right: 1.5rem;
                font-size: 0.7rem;
                font-family: "Roboto";
                font-weight: 900;
                background: $tertiary;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 15px;
                width: 15px;
                border-radius: 50%;
            }
        }
    }
}