@import 'colors';

.product{
    height: 400px;
    width: 300px;
    background: $tertiary;
    color: $secondary;
    margin: 2rem;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    cursor: pointer;
    
    >img{
        height: 50%;
        object-fit: cover;
    }

    >p{
        font-size: 1.8rem;
        font-weight: 700;
        text-align: center;
    }
    
    >h4{
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: .1rem;
        color: $primary;
    }

    > button{
        height: 10%;
        width: 70%;
        border: none;
        outline: none;
        background-color: $secondary;
        color: $tertiary;
        text-transform: uppercase;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        font-family: "Roboto";
        font-weight: 700;
        border-radius: .5rem;
        cursor: pointer;
        transition: all 0.3s;

        &:hover{
            background-color: $secondarydark;
        }
    }
}